*.npy
*.post.lst
*.post.bin
*.post.res
*.post.msh
*.odp
*.txt
**/__pycache__/
/saved_models/
/saved_models_cantilever_big_range/
/saved_models_fluid_bdf2/
/saved_models_steel/
/datasets_two_forces_dense_extended/
/rom_data/
/datasets_fluid_past_cylinder/
/datasets_fluid_past_cylinder_bdf2/
/datasets_fluid_past_cylinder_coarse/
/datasets_rubber_hyperelastic_cantilever/
/datasets_rubber_hyperelastic_cantilever_badd/
/datasets_rubber_hyperelastic_cantilever_big_range/
